* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: aqua;
}

.main {
  background-color: blueviolet;
}

.icon {
  background-color: burlywood ;
}
.pic {
  background-color: tomato;
}