/* .video-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 500px;
    margin: 0 auto;
}

video {
    width: 80%;
}

.video-list {
    padding: 20px;
    width: 30%;
    background-color: aqua; 
    border-radius: 5px; 
}
*/


 .video-list h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(126, 126, 187);
    transition: background-color 0.3s ease;
}


a:hover {
    background-color: rgb(235, 235, 235);
    border: 2px solid blueviolet;
    color: blue;
} 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    display: flex;
    justify-content: center;
    flex-direction: colum;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 132, 95);
    width: 80%;

}

video {
    width: 50%;
    border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
}

.video-list {
    width: 50%;
}

h2 {
    color: rgb(65, 69, 87);
}

h2:hover {
    color: rgb(112, 202, 202);
}

